/*color schemes: #515a47(green), #d7be82(beige), #7a4419(brown), #755c1b(yellow-green), #400406(maroon)*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html, section{
  margin: 0;
  padding: 0;
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
}

/* ===== NavBar ===== */
.navbar {
  position: fixed;        /* stick to the viewport */
  top: 0;
  left: 0;
  right: 0;

  background: #515a47b3; /* your color */
  padding: 0.75rem 0;
  text-align: center;

  z-index: 1000;          /* stay above everything */
}


.navbar-link{
  font-size: 2em;
  padding: 5px 50px;
}

/* ===== Home Page ===== */
.home-page-whole{
  height: 100vh;
  background-image: url('./home-bg.jpg');
  background-size: cover;
}

.home-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #7a4419;
  font-size: 2em;
  opacity: 1;
  background-color: rgb(255, 255, 255, 0.3);
}

.start-button{
  margin-top: 30px;
  background-color: #7a4419;
  border-radius: 25px;
  font-size: xx-large;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.home-page p{
  width: 680px;
  text-align: center;
}

/* ===== Services page ===== */

.services-section {
  padding: 4rem 2rem 5rem;
  background-color: #d7be82;
  text-align: center;
  height: 100vh;
}

.title {
  font-size: 2rem;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.services-grid {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem 1.5rem; /* row gap, column gap */
}


.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-image {
  width: 100%;
  aspect-ratio: 1 / 1;       
  background-color: #9b9b9b;  
  border-radius: 24px;       
}


.service-button {
  margin-top: 0.5rem;
  border: none;
  background: none;
  font-size: 0.7rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  cursor: pointer;
}

.service-button:hover {
  text-decoration: underline;
}




